{% extends 'base.html.twig' %}

{% block title %}New ClassRoom{% endblock %}

{% block body %}
    <h1 class="text-center m-4 text-secondary font-italic">Create New Classroom</h1>

    {{ include('class_room/_form.html.twig') }}

    <a class="btn btn-primary m-2" href="{{ path('class_room_index') }}">back to list</a>
{% endblock %}
